{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link class="list--item"nk rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link class="list--item"nk href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link class="list--item"nk rel="stylesheet" href="{% static 'css/base.css' %}">
    <link class="list--item"nk rel="stylesheet" href="{% static 'css/index.css' %}">

    <style>
        #sign_up {
            display: none;
        }
        .h3 {
            font-size: small;
            font-family: monospace;
            text-align: center;
        }
    </style>
</head>
<body>
    <main>
        <section class="main--sign-section">
            <header class="header">
                <span class="header--icon"><i class="fa-brands fa-twitter"></i></span>
            </header>
            <div class="main--titles">
                <h1 class="titles--title">It's what's happening</h1>
                <h2 class="titles--title">Join twitter today.</h2>
            </div>
            <div class="main--button-container">
                <form method="post" id="login" action="{% url 'account:register' %}">
                    {% csrf_token %}
                    <input type="hidden" value="login" name="action">
                    <span><i class="fa-brands"></i></span> Username
                    <input type="text" name="username" class="main--button main--button__white" required>
                    
                    <span><i class="fa-brands"></i></span> Password
                    <input type="password" name="password" class="main--button main--button__white" required>
    
                    <button class="main--button main--button__blue">
                        Login
                    </button>
                    <p class="main--text">By signing in, you agree to the <a href="#" class="text--link">Terms of Service</a> and <a href="#" class="text--link">Privacy Policy</a>, including <a href="#" class="text--link">Cookie Use</a>.</p>
                </form>

                <form method="post" id="sign_up" action="{% url 'account:register' %}">
                    {% csrf_token %}
                    <input type="hidden" value="sign_up" name="action">

                    <span><i class="fa-brands"></i></span> Fullname
                    <input type="text" name="fullname" id="s_fullname" class="main--button main--button__white" required>

                    <span><i class="fa-brands"></i></span> Username (at least 5 chars, only letters)
                    <input type="text" name="username" id="s_username" class="main--button main--button__white" required>
                    
                    <span><i class="fa-brands"></i></span> Password (at least 8 chars)
                    <input type="password" name="password" id="s_password1" class="main--button main--button__white" required>

                    <span><i class="fa-brands"></i></span> Repeat password
                    <input type="password" id="s_password2" class="main--button main--button__white" required>
    
                    <button class="main--button main--button__blue" id="sign_up_btn" disabled>
                        Sign up
                    </button>
                    <p class="main--text">By signing up, you agree to the <a href="#" class="text--link">Terms of Service</a> and <a href="#" class="text--link">Privacy Policy</a>, including <a href="#" class="text--link">Cookie Use</a>.</p>
                    <p class="main--text text--link h3" id="changer2">Back to login</p>
                </form>
            </div>
            <div id="or_text">
                <div class="main--division">
                    <div class="division--line"></div>
                    <span class="division--text">or</span>
                </div>
                <div class="main--signin">
                    <h3 class="signin--text">Don't have an account?</h3>
                    <button class="main--button main--button__white main--button__white-blue" id="changer">Sign up</button>
                </div>
            </div>
        </section>

        <section class="main--background">
            <div class="background--image">
                <span class="background--icon"><i class="fa-brands fa-twitter"></i></span>
            </div>
        </section>
    </main>


    <footer class="footer">
        <ul class="footer--list">
            <li class="list--item">
                <a href="#">About</a>
            </li>
            <li class="list--item">
                <a href="#">Help Center</a>
            </li>
            <li class="list--item">
                <a href="#">Terms of Service</a>
            </li>
            <li class="list--item">
                <a href="#">Privacy Policy</a>
            </li>
            <li class="list--item">
                <a href="#">Cookie Policy</a>
            </li>
            <li class="list--item">
                <a href="#">Accessibility</a>
            </li>
            <li class="list--item">
                <a href="#">Ads Info</a>
            </li>
            <li class="list--item">
                <a href="#">Blog</a>
            </li>
            <li class="list--item">
                <a href="#">Status</a>
            </li>
            <li class="list--item">
                <a href="#">Careers</a>
            </li>
            <li class="list--item">
                <a href="#">Brand Resources</a>
            </li>
            <li class="list--item">
                <a href="#">Adversiting</a>
            </li>
            <li class="list--item">
                <a href="#">Marketing</a>
            </li>
            <li class="list--item">
                <a href="#">Twitter for Business</a>
            </li>
            <li class="list--item">
                <a href="#">Developers</a>
            </li>
            <li class="list--item">
                <a href="#">Directory</a>
            </li>
            <li class="list--item">
                <a href="#">Settings</a>
            </li>
            <li class="list--item">
                &copy; 2022 Twitter, Inc.
            </li>
        </ul>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>